$container-max-widths: (
  sm: 540px,
  md: 768px,
  lg: 992px,
  xl: 1240px
) !default;

$grid-breakpoints: (
  xs: 0,
  sm: 600px,
  md: 800px,
  lg: 1040px,
  xl: 1280px
) !default;

$breakpoint-sm-min: map-get($grid-breakpoints, sm);
$breakpoint-md-min: map-get($grid-breakpoints, md);
$breakpoint-lg-min: map-get($grid-breakpoints, lg);
$breakpoint-xl-min: map-get($grid-breakpoints, xl);
