$tan:        #fcfbf7;
$tan-alt:    #f9f8f4;
$dark-green: #355556;
$light-gray: #ccc;
$dark-grey:  #646464;
$white:      #fff;
$black:      #000;
$black-alt:  #252525;

$color-primary:      $dark-green;
$color-secondary:    $tan;
$color-alt:          $tan-alt;
$color-neutral:      $light-gray;
$color-neutral-dark: $dark-grey;
$color-white:        $white;
$color-black:        $black;
$color-black-alt:    $black-alt;
